body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.invoice {
  position: relative;
}

.invoice-wrap {
  padding: 1.25rem;
  border: 1px solid #dbdfea;
  border-radius: 4px;
  background: #fff;
}
.invoice-action {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}
.invoice-brand {
  padding-bottom: 1.5rem;
}
.invoice-brand img {
  max-height: 60px;
}
.invoice-bills {
  /* font-size: 12px;  */
  font-size: 0.875rem;
}
.invoice-bills .table {
  min-width: 580px;
}
.invoice-bills .table th {
  color: #6576ff;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 0;
}
.invoice-bills .table th:last-child, .invoice-bills .table td:last-child {
  text-align: right;
}
.invoice-bills .table tfoot {
  border-top: 1px solid #dbdfea;
}
.invoice-bills .table tfoot td {
  border-top: 0;
  white-space: nowrap;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.invoice-bills .table tfoot tr:last-child td:not(:first-child), .invoice-bills .table tfoot tr:first-child td:not(:first-child) {
  font-weight: 500;
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}
.invoice-bills .table tfoot tr:last-child td:not(:first-child) {
  border-top: 1px solid #dbdfea;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.invoice-head {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.invoice-desc {
  width: 210px;
  padding-top: 1.5rem;
}
.invoice-desc .title {
  text-transform: uppercase;
  color: #6576ff;
}
.invoice-desc ul li {
  padding: 0.25rem 0;
}
.invoice-desc ul span {
  font-size: 13px;
  font-weight: 500;
  color: #526484;
}
.invoice-desc ul span:first-child {
  min-width: 90px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8094ae;
}
.invoice-desc ul span:last-child {
  padding-left: 0.75rem;
}
.invoice-contact .title {
  margin-bottom: 1rem;
}
.invoice-contact ul li {
  padding: 0.5rem 0;
  line-height: 1.3;
}
.invoice-contact ul li:first-child {
  padding-top: 0;
}
.invoice-contact ul li:last-child {
  padding-bottom: 0;
}
.invoice-contact ul .icon {
  line-height: 1.3;
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  color: #6576ff;
  margin-right: 0.5rem;
}
.invoice-contact ul .icon + span {
  display: inline-block;
  vertical-align: top;
  color: #8094ae;
}
.invoice-print {
  max-width: 700px;
  margin: 2rem auto;
}
.invoice-print .invoice-wrap {
  padding: 0;
  border: none !important;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}