{% extends 'admin.html' %}

{% block title %}Add room type{% endblock %}

{% block content %}

<div class="container">
    <form class="row g-2" method="post" action="#" role="form">
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Room type name</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Room type name" name="name"
                        autofocus>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Price per night</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Price per night"
                        name="price_per_night">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Capacity</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Capacity" name="capacity">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Bed quantity</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Bed quantity"
                        name="bed_quantity">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
        </div>
        </div>
        <div class="row mt-1">
            <div class="col-auto">
                <input class="btn btn-secondary btn-block" type="submit" value="close">
            </div>
            <div class="col-auto">
                <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
            </div>
        </div>
    </form>
</div>


{% endblock %}