{% extends 'admin.html' %}

{% block title %}Add payment{% endblock %}

{% block content %}

<div class="container">
    <form class="" method="post" action="#" role="form">
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Booking</label>
                    <select class="form-select" name="booking">
                        {% for booking in bookings %}
                        <option>{{ booking }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Created date</label>
                    <input type="date" class="form-control" placeholder="Created date"
                        name="created_date" value="{{ current_date }}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" name="amount">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Payment method</label>
                    <input type="text" class="form-control" placeholder="Payment method"
                        name="payment_method" value="Cash" disabled>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Transaction ID</label>
                    <input type="text" class="form-control" placeholder="Transaction ID"
                        name="transaction_id">
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto">
                    <a href="javascript:history.back()" class="btn btn-secondary btn-block">Close</a>
                </div>
                <div class="col-auto">
                    <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}