{% extends 'index.html' %}

{% block title %}Add Booking{% endblock %}

{% block content %}

<div class="container">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li><button class="dropdown-item" type="button">Another action</button></li>
          <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul>
      </div>

    <form class="row g-2" method="post" action="#" role="form">
        <!-- <div class="form-row"> -->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Customer first name</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Customer first name"
                        name="booking" autofocus>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Customer last name</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Customer last name"
                        name="created_date" autofocus>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Age</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Age" name="amount" autofocus>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Sex</label>
                    <select class="form-select" name="sex">
                        {% for sex in sexs %}
                        <option>{{ sex }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Email</label>
                    <input type="email" id="first-name" class="form-control" placeholder="Email" name="email" autofocus>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Phone</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Phone" name="phone" autofocus>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="is_regioner">
                    <label class="form-check-label" for="flexCheckDefault">Is regioner</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Created date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="Email" name="created_date"
                        autofocus>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-in date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="Email" name="checkin_date"
                        autofocus>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-out date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="Email" name="checkout_date"
                        autofocus>
                </div>
            </div>
            <div class="col-md-2">


                <!-- <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px">
                    <form class="p-2 mb-2 bg-light border-bottom">
                        <input type="search" class="form-control" autocomplete="false" placeholder="Type to filter...">
                    </form>
                    <ul class="list-unstyled mb-0">
                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-success rounded-circle p-1"></span>
                                Action
                            </a></li>
                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                                Another action
                            </a></li>
                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-danger rounded-circle p-1"></span>
                                Something else here
                            </a></li>
                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-info rounded-circle p-1"></span>
                                Separated link
                            </a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">User</label>
                    <select class="form-select" name="sex">
                        {% for user in users %}
                        <option>{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Room</label>
                    <select class="form-select" name="sex">
                        {% for room in rooms %}
                        <option>{{ room }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Customer</label>
                    <select class="form-select" name="sex">
                        {% for customer in customers %}
                        <option>{{ customer }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Status</label>
                    <select class="form-select" name="status">
                        {% for status in statuses %}
                        <option>{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <button class="btn btn-lg btn-secondary btn-block" type="">Close</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save">
            </div>
        </div>
        <!-- </div> -->
    </form>
</div>

{% endblock %}