{% extends 'admin.html' %}

{% block title %}Add room{% endblock %}

{% block content %}

<div class="container">
	<form class="row g-2" method="post" action="#" role="form">
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<label for="" class="col-form-label">Room no</label>
					<input type="text" id="first-name" class="form-control" placeholder="Room no" name="room_no">
				</div>
			</div>
			<div class="col-md-10">
				<div class="form-group">
					<label for="" class="col-form-label">Link image</label>
					<input type="text" id="first-name" class="form-control" placeholder="Link image" name="image">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<label for="" class="col-form-label">Room type</label>
					<select class="form-select" name="room_type">
						{% for room_type in room_types %}
						<option value="{{ room_type.id }}">{{ room_type }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Status</label>
                    <select class="form-select" name="status">
                        {% for status in statuses %}
							<option>{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label for="" class="col-form-label">Description</label>
					<textarea class="form-control" placeholder="Description" name="description"></textarea>
				</div>
			</div>
		</div>
		<div class="row pt-2">
			<div class="col-auto">
				<input class="btn btn-secondary btn-block" type="submit" value="close">
			</div>
			<div class="col-auto">
				<input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
			</div>
		</div>
	</form>
</div>

{% endblock %}