{% extends 'admin.html' %}

{% block title %}Add booking service{% endblock %}

{% block content %}

<div class="container">
    <form class="row g-2" method="post" action="#" role="form">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="" class="col-form-label">Phòng đặt</label>
                    <select class="form-select" name="booking">
                        {% for booking in bookings %}
                        <option value="{{ booking.id }}">{{ booking }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- <div class="form-group"> -->
                <label for="" class="col-form-label">Dịch vụ</label>
                <select class="form-select" name="service">
                    {% for service in services %}
                    <option value="{{ service.id }}">{{ service }}</option>
                    {% endfor %}
                </select>
                <!-- </div> -->
            </div>
            <div class="col-md-2">
                <!-- <div class="form-group"> -->
                <label for="" class="col-form-label">Số lượng</label>
                <input type="number" id="first-name" class="form-control" placeholder="Số lượng" name="qty" min="0">
                <!-- </div> -->
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-auto">
                <a href="javascript:history.back()" class="btn btn-secondary btn-block">Close</a>
            </div>
            <div class="col-auto">
                <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
            </div>
        </div>
    </form>
</div>

{% endblock %}