{% extends 'admin.html' %}

{% block title %}Thêm phiếu đặt phòng{% endblock %}

{% block content %}

<div class="container">
    <form class="" method="post" action="#" role="form">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Tên</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Tên"
                        name="first_name" value="{{ booking.first_name}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Họ và tên đệm</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Họ và tên đệm"
                        name="last_name" value="{{ booking.last_name}}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Email</label>
                    <input type="email" id="first-name" class="form-control" placeholder="Email" name="email"
                        value="{{ booking.email}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Số điện thoại</label>
                    <input type="text" id="first-name" class="form-control" placeholder="(+84) 123" name="phone"
                        value="{{ booking.phone}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Ngày tạo</label>
                    <input type="date" class="form-control" placeholder="" name="created_date"
                        value="{{ booking.created_date}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-in date</label>
                    <input type="date" class="form-control" placeholder="" name="check_in_date"
                        value="{{ booking.check_in_date}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-out date</label>
                    <input type="date" class="form-control" placeholder="" name="check_out_date"
                        value="{{ booking.check_out_date}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Số lượng khách</label>
                    <input type="number" class="form-control" placeholder=""
                        name="number_of_guests" value="{{ booking.number_of_guests}}" disabled>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Số lượng phòng</label>
                    <input type="number" class="form-control" placeholder=""
                        name="number_of_rooms" value="{{ booking.number_of_rooms}}" disabled>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Người tạo</label>
                    <select class="form-select" name="user">
                        {% for user in users %}
                        {% if user == booking.user %}
                        <option selected value="{{ user.id }}">{{ user }}</option>
                        {% else %}
                        <option value="{{ user.id }}">{{ user }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Trạng thái</label>
                    <select class="form-select" name="status">
                        {% for status in statuses %}
                        {% if status == booking.status %}
                        <option selected>{{ status }}</option>
                        {% else %}
                        <option>{{ status }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-auto">
                <a href="javascript:history.back()" class="btn btn-secondary btn-block">Close</a>
            </div>
            <div class="col-auto">
                <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
            </div>
        </div>
    </form>
</div>

{% endblock %}