{% extends 'index.html' %}


{% block content %}

<h1 class="text-center mt-1">GIỎ HÀNG</h1>

{% if 'cart' in session %}

<table class="table">
    <tr>
        <th>#</th>
        <th>Số phòng</th>
        <th>Đơn giá</th>
        <th>Số đêm</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id="room{{c.id}}">
        <td>{{ loop.index }}</td>
        <td>{{ c.name }}</td>
        <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
        <td>{{ c.num_of_nights }}</td>
        <td>{{ c.check_in_date }}</td>
        <td>{{ c.check_out_date }}</td>
        <td>{{ "{:,.0f}".format(c.price * c.quantity) }} VNĐ</td>
        <td>
            <button onclick="deleteCart({{c.id}})" class="btn btn-danger">&times;</button>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h5>Tổng tiền: <span class="cart-amount">{{ "{:,.0f}".format(cart_stats.total_amount) }}</span> VNĐ</h5>
</div>

<div>
    <button class="btn btn-success" onclick="pay()">Thanh toán</button>
    <a href="{{ url_for('checkout_page') }}"><input type="button" class="btn btn-success" value="Tiếp tục thanh toán"></a>
</div>
{% else %}
<p class="alert aler-info mt-1">Không có sản phẩm trong giỏ!</p>
{% endif %}

{% endblock %}