{% extends 'index.html' %}

{% block title %}Edit payment{% endblock %}

{% block content %}

<div class="container">
    <form class="" method="post" action="#" role="form">
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Booking</label>
                    <select class="form-select" name="booking">
                        {% for booking in bookings %}
                            {% if booking == payment.booking %}
                                <option selected value="{{ booking.id }}">{{ booking }}</option>
                            {% else %}
                                <option value="{{ booking.id }}">{{ booking }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Created date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="Created date"
                        name="created_date" value="{{ payment.created_date }}" autofocus>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Amount</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Amount" name="amount"
                        value="{{ payment.amount }}" autofocus>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Payment method</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Payment method"
                        name="payment_method" value="{{ payment.payment_method }}" autofocus>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-form-label">Transaction ID</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Transaction ID"
                        name="transaction_id" value="{{ payment.transaction_id }}" autofocus>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto">
                    <input class="btn btn-secondary btn-block" type="submit" value="close">
                </div>
                <div class="col-auto">
                    <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}