{% extends 'index.html' %}

{% block title %}Edit Booking{% endblock %}

{% block content %}

<div class="container">
    <form class="" method="post" action="#" role="form">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Customer first name</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Customer first name"
                        name="customer_first_name" value="{{ booking.customer_first_name}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Customer last name</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Customer last name"
                        name="customer_last_name" value="{{ booking.customer_last_name}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Age</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Age" name="age"
                        value="{{ booking.age}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Sex</label>
                    <select class="form-select" name="sex">
                        {% for sex in sexs %}
                        {% if sex == booking.sex.name %}
                        <option selected>{{ sex }}</option>
                        {% else %}
                        <option>{{ sex }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Email</label>
                    <input type="email" id="first-name" class="form-control" placeholder="Email" name="email"
                        value="{{ booking.email}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="" class="col-form-label">Phone</label>
                    <input type="text" id="first-name" class="form-control" placeholder="Email" name="phone"
                        value="{{ booking.phone}}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check">
                    <br><br>
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="is_regioner"
                        value="{{ booking.is_regioner}}">
                    <label class="form-check-label" for="flexCheckDefault">Is regioner</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Created date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="" name="created_date"
                        value="{{ booking.created_date}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-in date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="" name="checkin_date"
                        value="{{ booking.checkin_date}}">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-form-label">Check-out date</label>
                    <input type="date" id="first-name" class="form-control" placeholder="" name="checkout_date"
                        value="{{ booking.checkout_date}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">User</label>
                    <select class="form-select" name="user">
                        {% for user in users %}
                        {% if user == booking.user %}
                        <option selected value="{{ user.id }}">{{ user }}</option>
                        {% else %}
                        <option value="{{ user.id }}">{{ user }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Room</label>
                    <select class="form-select" name="room">
                        {% for room in rooms %}
                        {% if room == booking.room %}
                        <option selected value="{{ room.id }}">{{ room }}</option>
                        {% else %}
                        <option value="{{ room.id }}">{{ room }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Customer</label>
                    <select class="form-select" name="customer">
                        {% for customer in customers %}
                        {% if customer == booking.customer %}
                        <option selected value="{{ customer.id }}">{{ customer }}</option>
                        {% else %}
                        <option value="{{ customer.id }}">{{ customer }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="col-form-label">Status</label>
                    <select class="form-select" name="status">
                        {% for status in statuses %}
                        {% if status == booking.status %}
                        <option selected>{{ status }}</option>
                        {% else %}
                        <option>{{ status }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-auto">
                <input class="btn btn-secondary btn-block" type="submit" value="close">
            </div>
            <div class="col-auto">
                <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
            </div>
        </div>
    </form>
</div>

{% endblock %}