{% extends 'admin.html' %}

{% block title %}Edit BookingService{% endblock %}

{% block content %}

<div class="container">
    <form class="" method="post" action="#" role="form">
        <div class="form-row">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="" class="col-form-label">Phòng đặt</label>
                        <select class="form-select" name="booking_room">
                            {% for booking_room in booking_rooms %}
                            {% if booking_room.id == booking_service.booking_room.id %}
                            <option value="{{ booking_room.id }}" selected>{{ booking_room }}</option>
                            {% else %}
                            <option value="{{ booking_room.id }}">{{ booking_room }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- <div class="form-group"> -->
                    <label for="" class="col-form-label">Dịch vụ</label>
                    <select class="form-select" name="service">
                        {% for service in services %}
                        {% if service.id == booking_service.service.id %}
                        <option value="{{ service.id }}" selected>{{ service }}</option>
                        {% else %}
                        <option value="{{ service.id }}">{{ service }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <!-- </div> -->
                </div>
                <div class="col-md-2">
                    <!-- <div class="form-group"> -->
                    <label for="" class="col-form-label">Số lượng</label>
                    <input type="number" id="first-name" class="form-control" placeholder="Số lượng" name="qty" min="0" value="{{ booking_service.qty }}">
                    <!-- </div> -->
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto">
                    <a href="javascript:history.back()" class="btn btn-secondary btn-block">Close</a>
                </div>
                <div class="col-auto">
                    <input class="btn btn-primary btn-block" type="submit" value="Save" style="width: 200%;">
                </div>
            </div>
    </form>
</div>

{% endblock %}