{% extends 'admin.html' %}

{% block title %}Booking Room{% endblock %}

{% block content %}

<a href="{{ url_for('add_booking_room') }}" class="btn btn-primary" tabindex="-1" role="button">Add Booking Room</a>
<br/>
<br/>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Booking ID</th>
        <th>Số phòng</th>
        <th>Tên</th>
        <th>Họ và tên đệm</th>
        <th>Số điện thoại</th>
        <th>Trạng thái</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for booking_room in booking_rooms %}
      <tr>
        <td>{{ booking_room.id }}</td>
        <td>{{ booking_room.booking.id }}</td>
        <td>{{ booking_room.room }}</td>
        <td>{{ booking_room.booking.first_name }}</td>
        <td>{{ booking_room.booking.last_name }}</td>
        <td>{{ booking_room.booking.phone }}</td>
        <td>{{ booking_room.status.name }}</td>
        <td>
          {% if booking_room.status.name == 'CHECKED_OUT' %}
          <a href="{{ url_for('view_invoice_2', booking_room_id=booking_room.id) }}" class="btn btn-success btn-sm">View</a>
          {% else %}
          <a href="{{ url_for('invoice_detail_page', booking_room_id=booking_room.id) }}" class="btn btn-success btn-sm" onclick="">Pay</a>
          {% endif %}
          {% if booking_room.status.name == 'CONFIRMED' %}
          <a href="{{ url_for('check_in_booking_room', booking_room_id=booking_room.id) }}" class="btn btn-info btn-sm" onclick="">Check-in</a>
          {% else %}
          <a href="{{ url_for('check_in_booking_room', booking_room_id=booking_room.id) }}" class="btn btn-info btn-sm disabled" onclick="">Check-in</a>
          {% endif %}
          <a href="{{ url_for('edit_booking_room', booking_room_id=booking_room.id) }}" class="btn btn-primary btn-sm">Edit</a>
          <a href="{{ url_for('delete_booking_room', booking_room_id=booking_room.id) }}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      <tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

