{% extends 'admin.html' %}

{% block title %}Invoice{% endblock %}

{% block content %}

<a href="{{ url_for('add_invoice') }}" class="btn btn-primary" tabindex="-1" role="button">Add Invoice</a>
<br/>
<br/>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Booking ID</th>
        <th>Số phòng</th>
        <th>Tên</th>
        <th>Họ và tên đệm</th>
        <th>Ngày tạo</th>
        <th>Thành tiền</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.booking_room.booking.id }}</td>
        <td>{{ invoice.booking_room.room }}</td>
        <td>{{ invoice.first_name }}</td>
        <td>{{ invoice.last_name }}</td>
        <td>{{ invoice.created_date.strftime('%d/%m/%Y') }}</td>
        <td>{{ "{:,.0f}".format(invoice.total_price) }} VNĐ</td>
        <td>
          <a href="{{ url_for('view_invoice', invoice_id=invoice.id) }}" class="btn btn-primary btn-sm">View</a>
          <a href="{{ url_for('edit_invoice', invoice_id=invoice.id) }}" class="btn btn-primary btn-sm disabled">Edit</a>
          <a href="{{ url_for('delete_invoice', invoice_id=invoice.id) }}" class="btn btn-danger btn-sm disabled">Delete</a>
        </td>
      <tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}